{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "extends": ["airbnb", "airbnb/hooks"],
  "plugins": [
    "@typescript-eslint"
  ],
  "rules": {
    "import/prefer-default-export": 0
  }
}
